# Ignore all .vsidx files everywhere
*.vsidx

# Ignore logs
*.log

# Ignore common build artifacts
*.dll
*.exe
*.pdb
*.cache
*.bin
*.suo
*.v2
*.json

# Ignore Angular/TypeScript build files
*.ts
*.css

# Ignore entire .vs folder
.vs/
.vscode/

# Ignore build directories
bin/
obj/
dist/
build/

# Ignore Docker-related files
docker-compose.yml
certs/
